@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;700&family=Mulish:wght@300&family=Noto+Serif:wght@700&family=Raleway:wght@600;700&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;700&family=Inter:wght@400;500;700&family=Mulish:wght@300&family=Noto+Serif:wght@700&family=Raleway:wght@600;700&family=Roboto:wght@400;500;700;900&display=swap');

@import "./components/style/vars";
@import "./components/style/mixins";
@import "./components/style/reset";
@import "./components/style/header";
@import "./components/style/footer";
@import "./components/style/mainPage";
@import "./components/style/genre";
@import "./components/style/bookPage";
@import "./components/style/bookCard";
@import "./components/style/sliders";
@import "./components/style/slider";
@import "./components/style/logIn";
@import "./components/style/sliders";
@import "./components/style/booksList";
@import "./components/style/genreList";
@import "./components/style/genreItem";
@import "./components/style/pageNotFound";
@import "./components/style/profilePage";
@import "./components/style/loader";
@import "./components/style/error";
@import "./components/style/modal";
@import "./components/style/readBook";
@import "./components/style/favourites";
@import "./components/style/favouriteBook";
@import "./components/style/recommendedBooks";


.App {
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
